@font-face {
  font-family: "sharpiro";
  src: url("fonts/sharpiro-regular.woff2"), url("fonts/sharpiro-bold.woff2"), url("fonts/uniform-pro-con-black.woff2"), url("fonts/uniform-pro-con-medium.woff2");
}

body {
  font-family: "sharpiro";
  margin: 0%;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 30px;
}

.h1Span {
  color: #3e14d6;
}

#btn {
  font-size: 25px;
  margin: 0;
  position: absolute;
  top: 26rem;
  left: 57.5rem;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*add full-width input fields*/
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
}
/* set a style for all buttons*/
button {
  text-align: center;
  background-color: green;
  color: white;
  padding: 17px 25px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
}

.regbtn {
  --primary-color: #ffc3a4;
  justify-self: center;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  -webkit-appearance: button;
  font-size: 0.75rem;
  border-radius: 40px;
  padding: 1.1875rem 2.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--hover-text, var(--primary-color));
  background: var(--bg, #16162a);
  border: none;
  transition: all 0.15s ease-in;
  float: right;
  width: 180px;
  margin-right: 20%;
}

.cancelbtn {
  --primary-color: #16162a;
  justify-self: center;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.75rem;
  padding: 1.1875rem 2.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--hover-text, var(--primary-color));
  background: none;
  border: none;
  float: left;
  width: 180px;
  margin-left: 20%;
}

@media (hover: hover) {
  button:hover {
    --bg: var(--primary-color);
    --hover-text: #16152a;
  }
}

.cancelbtn:hover {
  text-decoration: underline 1px #16162a;
  text-underline-offset: 4px;
}

/* .regbtn {
  padding: 14px 20px;
  background-color: cornflowerblue;
} */

/*set styles for the cancel button*/

/*float cancel and signup buttons and add an equal width*/

/*add padding to container elements*/
.container {
  padding: 30px;
  height: auto;
  width: auto;
}

.gameType {
  text-decoration: underline 4px #f48d69;
  text-underline-offset: 8px;
}

.games {
  text-decoration: underline 4px #6259fa;
  text-underline-offset: 8px;
}

.areas {
  text-decoration: underline 4px #5be080;
  text-underline-offset: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 0;
}

fieldset {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: none;
}

.clearfix {
  margin-top: 50px;
}

/*define the modal’s background*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
/*define the modal-content background*/

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 60%;
}
/*define the close button*/

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
}
/*define the close hover and focus effects*/

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
